.app-drawer-container {
    flex: 1;
  }
  
  .app-content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  

  .sd-2e {
    width: 80%;
  }

  .m-0 {
    // position: relative;
    // top: 10%;
  }