<h1 mat-dialog-title>Edit User <span ><mat-icon (click)="close()" style="width: 12px;cursor: pointer; float: right;">close</mat-icon></span></h1>

<hr>
<div mat-dialog-content>
  <form [formGroup]="editForm" class="example-form" (submit)="editFormData(editForm)">
    <div fxLayout="column" fxLayoutAlign="space-around center" >
      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="name"  matInput  >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email Address</mat-label>
          <input formControlName="email" matInput  >
            </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Gender</mat-label>
          <input formControlName="gender" matInput  >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Date of Birth</mat-label>
          <input formControlName="dob" matInput placeholder="Ex. San Francisco">
        </mat-form-field>
      </div>
      <div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <textarea formControlName="address" matInput></textarea>
      </mat-form-field>
      </div>
    </div>

  



  


    <div mat-dialog-actions>
      <button mat-button type="submit">submit</button>
    </div>
  </form>
</div>
